<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
<body>
<div class="main_thing">
<div class="c">
    <div class="d">
        <h1><%= title %></h1>
        <h7>resize the browser window to see the effect.</h7>
    </div>
</div>
<div class="navigation_head">
    <div class="container">
        <div class="left">Link</div>
        <div class="left">Link</div>
        <div class="left">Link</div>
        <div class="right">Link</div>
    </div>
</div>

    <div class="main_title">
      <div class ="title">
        <h1>
          TITLE HEADING
        </h1>
      </div>
      <div class ="titleDes">
        <h1>
          Title description, Dec 7,2017
        </h1>
      </div>
      <div class="img">
        <h2>
          Image
        </h2>
      </div>
      <div class="image_des">
        Some text..<br>
        <br>
        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adupiscing elit,sed do tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </div>
    </div>

    <div class="main_title">
        <div class ="title2">
            <h1>
                TITLE HEADING
            </h1>
        </div>
        <div class ="titleDes">
            <h1>
                Title description, Sep 2,2017
            </h1>
        </div>
        <div class="img">
            <h2>
                Image
            </h2>
        </div>
        <div class="image_des">
            Some text..<br>
            <br>
            Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adupiscing elit,sed do tempor incididunt ut labore et
            dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
        </div>
    </div>

    <div class="foot">
        <h1>
            Footer
        </h1>
    </div>
</div>
  </body>
</html>

