<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="main_title">
      <div class ="title">
        <h1>
          TITLE HEADING
        </h1>
      </div>
      <div class ="titleDes">
        <h1>
          Title description, Dec 7,2017
        </h1>
      </div>
      <div class="img">
        <h2>
          Image
        </h2>
      </div>
      <div class="image_des">
        Some text..<br>
        <br>
        Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adupiscing elit,sed do tempor incididunt ut labore et
        dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      </div>
    </div>
  </body>
</html>
