<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="../public/stylesheets/style.css"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div class="c">
      <div class="d">
        <h1><%= title %></h1>
        <h7>resize the browser window to see the effect.</h7>
      </div>
    </div>
    <div class="navigation_head">
      <div class="container">
        <div class="left">Link</div>
        <div class="left">Link</div>
        <div class="left">Link</div>
        <div class="right">Link</div>
      </div>
    </div>


  </body>
</html>
