body {
  font: 18px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.main_title {
    height: 465px;
    width: 80%;
    margin-left: 5px;
    margin-top: 5px;
}

.title {
    height: 5px;
    width: 100%;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 20px;
}

.titleDes {
    height: 10px;
    width: 100%;
    text-align: left;
    margin-bottom: 30px;
    margin-left: 20px;
    font-size: 7px;
}

.img {
    height: 200px;
    width: 97%;
    text-align: left;
    background-color: darkgray;
    margin-bottom: 15px;
    margin-left: 20px;
    padding-left: 10px;
    padding-top: 10px;
}

.image_des {
    height: 100px;
    width: 95%;
    margin-left: 20px;
    font-size: 17px;
}

.c{
  height:200px;
  width: 100%;
  background: rgb(243, 243, 243);

  position: relative;
}

.d{
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.navigation_head{
  background-color: rgba(0, 0, 0, 0.84);
  height:36px;
  position:relative;
  margin-bottom: 1%;
}
.container{
  position: absolute;
  width:100%;
  top: 50%;
  transform: translateY(-50%);
}
.right{
  float:right;
  margin-right: 1%;
  color:white;
}

.left{
  float:left;
  margin-left: 1%;
  color:white;
}
